.menu {
	padding: 0;
	list-style: none;
}

.menu_item {
	display: flex;
	align-items: center;
	height: 64px;
}

.nav_link_button {
	background: none;
	border: none;
	cursor: pointer;
}

.nav_link_button:hover {
	text-decoration: underline;
}
