.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	padding: 40px 40px 60px;
	background: #1c1c21;
	border-radius: 40px;
	transform: translate(-50%, -50%);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	height: 64px;
}

.close_btn {
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}
